/minecraft/config/ars_nouveau/search_index/*
/minecraft/saves/*
/minecraft/logs/*
/minecraft/crash-reports/*
/minecraft/debug/*
/minecraft/.mixin.out/*
/minecraft/Distant_Horizons_server_data/*
/minecraft/enxv_aeronautics_structures/*
/minecraft/etched-sounds/*
/minecraft/cache/*
/minecraft/local/*
/minecraft/downloads/*
/minecraft/ponders_watched.json
/minecraft/ponders_watched_azimuth.json
/minecraft/usercache.json
/minecraft/usernamecache.json
/minecraft/servers.dat_old
/minecraft/servers.dat
/minecraft/command-history.txt